<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <p>Назва: Ольгопільський центр первинної медико-санітарної допомоги.</p>
            <p>Адреса: вул. Шляхова, буд. 109, с. Ольгопіль, Гайсинський р-н, Вінницька обл., 24830</p>
            <p>Телефон: +38 (097) 187-99-39</p>
            <p>Email: olgopilspmsd@ukr.net</p>
            <p>&copy; 2024 Всі права захищено</p>
        </div>
    </div>
</footer>
