{% block content %}
   <link rel="stylesheet" href="static/css/mini_gallery.css">

    <section class="photos" id="photos">
        <div class="container">
            <div class="photos-inner">
                <h1 class="title title-line photos-title">
                    <span>Фотогалерея</span>
                </h1>
                <div class="photos-list">
                    <div class="gallery gallery-items" id="gallery-items">
                        {% for image in gallery_images %}
                            <div class="gallery-item">
                                <img class="scale thumbnail" src="{{ url_for('static', filename='img/' ~ image.src) }}" alt="{{ image.alt }}" onclick="openModal('{{ url_for('static', filename='img/' ~ image.src) }}')">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="modal" class="modal" onclick="closeModal(event)">
                    <span class="close" onclick="closeModal(event)">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>

                <div class="more-photos">
                    <a href="{{ url_for('gallery') }}" class="button">Показати ще</a>
                </div>
            </div>
        </div>
    </section>

    <script src="static/js/gallery.js"></script>
{% endblock %}