footer {
    background-color: #f9f9f9;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}
footer .footer-inner {
    display: inline-block;
    text-align: center;
}
footer p {
    margin: 10px 0;
}
