<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general_info.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
            <section class="general-information" id="general-information">
                <div class="container">
                    <div class="general-information-inner">
                        <h1 class="title title-line general-information-title">
                            <span>Загальна інформація</span>
                        </h1>
                        <div class="container-items">
                            <div class="image">
                                <img src="{{ url_for('static', filename='img/1.jpg') }}">
                            </div>
                            <div class="content">
                                <div class="block-title"><h1>Домедична допомога</h1></div>
                                <div class="block-summary">Домедична допомога – це невідкладна допомога, яку можна надати до прибуття
                                    професійних медичних працівників. Вона включає базові навички та дії,
                                    які можуть врятувати життя у критичній ситуації. Знання та вміння надавати
                                    домедичну допомогу допоможуть вам впевнено реагувати на різні нещасні
                                    випадки.
                                    <p>Навчання домедичної допомоги є важливою складовою загальної безпеки.
                                        Курси з домедичної допомоги доступні у багатьох медичних установах
                                        та організаціях, і їх проходження може бути корисним для кожного.</p>
                                </div>
                                <div class="block-text">
                                    <ul>
                                        <li><strong>Зупинка кровотечі</strong>: Використання джгутів, бинтів та інших матеріалів для зупинки кровотечі.</li>
                                        <li><strong>Надання серцево-легеневої реанімації (СЛР)</strong>: Виконання штучного дихання та компресій грудної клітки для підтримки кровообігу та дихання у постраждалого.</li>
                                        <li><strong>Лікування опіків</strong>: Нанесення холодних компресів та спеціальних пов'язок для зменшення болю та запобігання подальшого ушкодження тканин.</li>
                                        <li><strong>Управління переломами</strong>: Накладення шини та іммобілізація кінцівок для запобігання подальшого ушкодження.</li>
                                    </ul>
                                </div>
                                <div class="show-more">Показати ще</div>
                            </div>
                        </div>

                        <div class="container-items">
                            <div class="image">
                                <img src="{{ url_for('static', filename='img/2.png') }}">
                            </div>
                            <div class="content">
                                <div class="block-title"><h1>Міфи про інсульт</h1></div>
                                <div class="block-summary">
                                        <p class="myth"><strong>Міф:</strong> При інсульті не можна перевозити хворого з дому до лікарні або з однієї лікарні до іншої</p>
                                        <p class="truth"><strong>Правда:</strong> Усі хворі з інсультом якомога швидше мають бути доправлені до лікарні, де можуть отримати необхідну допомогу. Ситуації, коли перевезення в умовах "швидкої" може погіршити стан здоров'я пацієнта, трапляються дуже рідко. Якщо пацієнт знаходиться у погано оснащеній лікарні, слід порівняти ризики транспортування і ризики лікування у лікарні, де немає належних ресурсів (спеціалісти, томограф, лабораторія тощо).</p>
                                </div>
                                <div class="block-text">
                                    <p class="myth"><strong>Міф:</strong> При інсульті не можна перевозити хворого з дому до лікарні або з однієї лікарні до іншої</p>
                                    <p class="truth">Правда: Усі хворі з інсультом якомога швидше мають бути доправлені до лікарні, де можуть отримати необхідну допомогу. Ситуації, коли перевезення в умовах "швидкої" може погіршити стан здоров'я пацієнта, трапляються дуже рідко. Якщо пацієнт знаходиться у погано оснащеній лікарні, слід порівняти ризики транспортування і ризики лікування у лікарні, де немає належних ресурсів (спеціалісти, томограф, лабораторія тощо).</p>

                                    <p class="myth"><strong>Міф:</strong> Що більше крапельниць, то краще лікування</p>
                                    <p class="truth"><strong>Правда:</strong> Досить часто ліки, які при інсульті широко використовуються в Україні і вводяться за допомогою крапельниць (ліки для відновлення" мозку, так звані нейропротектори, "судинні препарати", антиоксиданти, антигіпоксанти тощо) не мають науково доведеної ефективності і не використовуються для лікування інсульту у розвинених країнах. Вітчизняні стандарти та протоколи з лікування інсульту, затверджені МОЗ України, чітко визначають перелік необхідних ліків.</p>

                                    <p class="myth"><strong>Міф:</strong> Час лікує. Порушення, спричинені інсультом (слабкість руки чи ноги, порушення мови, захлинання їжею, двоїння тощо), поступово зникнуть самі по собі</p>
                                    <p class="truth"><strong>Правда:</strong> Мозок людини має певну здатність самостійно відновлювати свою роботу, що призводить до зменшення порушень, але відбувається це  не у кожного хворого, здебільшого при невеликих ураженнях і зазвичай не повною мірою. Щоби досягти максимального відновлення порушених функцій і повноцінного життя, абсолютна більшість пацієнтів зі стійкими післяінсультними порушеннями (не можуть ходити, самостійно вдягнутися чи вмитися тощо) потребує реабілітації. Реабілітація складається не з уколів чи крапельниць, а з занять з фізичним терапевтом, ерготерапевтом, логопедом, метою яких є відновлення порушених функцій і зменшення потреби у сторонній допомозі. Такі методи, як бджоли, п'явки, крапельниці з нейропротекторами не мають науково доведеної ефективності і не рекомендовані для використання.</p>

                                    <p class="myth"><strong>Міф:</strong> Інсульт виникає внаслідок стресів, і ми нічого не можемо зробити, щоб його уникнути</p>
                                    <p class="truth"><strong>Правда:</strong> Сьогодні фахівці добре знають фактори ризику інсультів. Вони включають похилий вік, неправильний спосіб життя і проблеми зі здоров’ям. До чинників способу життя, що підвищують ризик інсульту, належать куріння, зловживання алкоголем, недостатня фізична активність (менше 150 хв на тиждень), ожиріння. До числа медичних проблем відносяться підвищений кров'яний тиск (більше ніж 140/90 мм рт.ст. - головна загроза, навіть якщо пацієнт добре почувається), цукровий діабет, миготлива аритмія (підвищує ризик інсульту у 5 разів!), високий рівень холестерину.</p>

                                    <p class="myth"><strong>Міф:</strong> Щоби запобігти інсульту необхідно 1-2 рази на рік лягати у лікарню прокапатись або почистити судини</p>
                                    <p class="truth"><strong>Правда:</strong> "Прокапування" не має науково доведених переваг у профілактиці інсульту. За рекомендацією лягти "прокапатись" може стояти що завгодно, але не науково-обгрунтована сучасна профілактика чи лікування інсульту.</p>

                                    <p class="myth"><strong>Міф:</strong> У разі підвищеного ризику інсульту (гіпертонія, хвороби серця) не можна ходити до сауни чи займатись спортом</p>
                                    <p class="truth"><strong>Правда:</strong> Відвідування сауни, якщо воно не пов'язане з вживанням алкоголю чи сильним зневодненням, не збільшує ризик інсульту. Що стосується фізичних навантажень, корисними можуть бути аеробні (динамічні) вправи (швидка ходьба, велосипед, плавання тощо), а от статичного навантаження (силові вправи) радимо уникати.</p>

                                    <p class="myth"><strong>Міф:</strong> Якщо є підозра на інсульт, слід почекати, доки все мине, або звернутись до сімейного лікаря чи терапевта</p>
                                    <p class="truth"><strong>Правда:</strong> Інсульт - це невідкладний стан. Якщо у людини раптово змінилось мовлення, перекосило обличчя або почали погано слухатись рука чи нога на одній половині тіла, слід негайно зателефонувати 103. На сьогодні існує дієве лікування при ішемічному інсульті (тромболізис), але він ефективний протягом 4,5 годин від появи перших ознак інсульту.</p>

                                    <p class="myth"><strong>Міф:</strong> Не має значення, в якій лікарні лікуватися від інсульту, аби лікар був уважний і досвідчений</p>
                                    <p class="truth"><strong>Правда:</strong> Дуже багато що залежить від можливостей лікарні. Мова і про обладнання (наприклад,томограф) і наявність лабораторії, реанімації, нейрохірургії, вузьких спеціалістів (кардіолога, ендокринолога, уролога, хірурга, ортопеда тощо), організацію лікування у відділенні, де перебуває пацієнт, рівень професійної підготовки та досвіду команди медиків. Найкращі результати лікування інсульту забезпечує багатопрофільна лікарня, де є Інсультний блок. Відмінністю Інсультного блоку є не тільки лікарі, які добре знаються на інсульті, та відповідне обладнання, а й медичні сестри з відповідною підготовкою, фізичні терапевти, логопеди тощо.</p>
                                </div>
                                <div class="show-more">Показати ще</div>
                            </div>
                        </div>

                        <div class="container-items">
                            <div class="image">
                                <img src="{{ url_for('static', filename='img/2.jpg') }}">
                            </div>
                            <div class="content">
                                <div class="block-title"><h1>Цукровий діабет</h1></div>
                                <div class="block-summary">
                                    <p>Цукровий діабет — це хронічне захворювання, яке виникає, коли організм не може ефективно використовувати глюкозу (цукор), що призводить до високого рівня цукру в крові (гіперглікемія). Глюкоза є важливим джерелом енергії для клітин організму, але для її проникнення в клітини потрібен інсулін, гормон, що виробляється підшлунковою залозою.</p>
                                    <p>Цукровий діабет є хронічним захворюванням, що проявляється тривалим підвищенням рівня глюкози в крові вище норми.</p>
                                    <p>Хвороба призводить до серйозних пошкоджень серця, судин, очей, нирок та нервів.</p>
                                </div>
                                <div class="block-text">
                                    <h4>Ділимося порадами з профілактики цукрового діабету II типу:</h4>
                                        <ul class="tips">
                                            <li>Збільште фізичну активність. Регулярні фізичні навантаження допоможуть вам позбутися зайвої ваги, знизити рівень цукру в крові, підвищити чутливість клітин до інсуліну.</li>
                                            <li>Дотримуйтеся здорового харчування. При виборі типу харчування для профілактики або при діабеті потрібно проконсультуватися зі спеціалістом та враховувати ваші індивідуальні особливості, аби не зашкодити організму.</li>
                                            <li>Стежте за вагою. Якщо у вас ожиріння чи надмірна вага, ризик захворіти на діабет зростає. Доведено, що втрата надмірної ваги сприяє поліпшенню здоров’я.</li>
                                            <li>Утримуйтеся від куріння та відмовтеся від алкоголю. Чим більше ви курите, тим більший ризик діабету. Надмірна кількість алкоголю також впливає на ризик розвитку хвороби.</li>
                                            <li>Пам’ятайте, сімейний лікар може докладно проконсультувати вас щодо ризиків, пов’язаних із цукровим діабетом II типу, а також, за потреби, призначити додаткові аналізи для діагностики. Вчасно звертайтеся до лікаря та бережіть своє здоров’я!</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="show-more">Показати ще</div>
                            </div>
                        </div>

                        <div class="container-items">
                            <div class="image">
                                <img src="{{ url_for('static', filename='img/3.jpg') }}">
                            </div>
                            <div class="content">
                                <div class="block-title">
                                    <h1>Е - рецепт</h1>
                                </div>
                                <div class="block-summary">
                                    <p>Процес призначення рецептурних ліків стає більш простим та ефективним. Весною в Україні буде впроваджено електронний рецепт на всі рецептурні ліки.</p>
                                    <p>Цей цифровий інструмент дозволить посилити контроль за відпуском рецептурних ліків у аптеках. Адже виключно медичний спеціаліст може підібрати безпечне та ефективне лікування, а також запобігти можливим негативним наслідкам самолікування.</p>
                                    <p>Рішення буде впроваджуватися поступово з можливістю використання паперових рецептурних бланків. При цьому задля своєї зручності саме пацієнт зможе обрати, за яким рецептом він бажає придбати ліки в аптеці – електронним чи паперовим.</p>
                                </div>
                                <div class="block-text">
                                    <p>Е-рецепт пошириться на всі зареєстровані в Україні лікарські засоби, що підлягають відпуску за рецептом лікаря, та які пацієнт купує за власні кошти.</p>
                                    <p>МОЗ не розширює та не змінює перелік рецептурних ліків. Тобто всі ті ліки, що і раніше підлягали відпуску за рецептом лікаря, відтепер можна буде придбати зокрема і за е-рецептом.</p>
                                    <p>Саме тому важливо завчасно перевірити інструкцію лікарських засобів, які ви вживаєте, та якщо вони рецептурні – подбати про отримання відповідного рецепта у свого лікуючого лікаря у квітні для того, щоби надалі безперешкодно та правомірно придбати ліки за рецептом в аптеці.</p>
                                    <p>Виписати рецепт можуть лікарі усіх спеціальностей державних, комунальних чи приватних клінік, або ж лікар-ФОП.</p>
                                    <p>Під час огляду лікар сформує електронне призначення, вказавши діючу речовину, дозування, тривалість курсу та інструкції з прийому ліків.</p>
                                    <p>А у разі, якщо ви маєте гостре чи хронічне захворювання або потребуєте продовжити лікування чи профілактику, електронний рецепт на потрібні ліки можна буде отримати дистанційно, звернувшись до свого сімейного лікаря доступним засобом звʼязку. Для цього в системі попередньо обовʼязково має бути зафіксований діагноз та призначення від лікуючого лікаря. Так призначення ліків завжди будуть доступні у вашому смартфоні.</p>
                                    <p>Водночас якщо ви чи ваші близькі не маєте мобільного телефону, лікар зможе зробити вам призначення на паперовому рецептурному бланку. Так ви зможете отримати рецепт на ліки у будь-якого лікаря та погасити його у будь-якій аптеці у зручний для вас спосіб.</p>
                                </div>
                                <div class="show-more">Показати ще</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <script src="{{ url_for('static', filename='js/general_info.js') }}"></script>
    {% endblock %}
</body>
</html>