<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
</head>
<body>
    {% extends 'base.html' %}
    <!-- Інший контент домашньої сторінки -->

    {% block content %}
        {% include 'partials/about.html' %}
        {% include 'partials/employees.html' %}
        {% include 'partials/mini_gallery.html' %}
        {% include 'partials/contact.html' %}
    {% endblock %}
</body>
</html>
